{% extends 'layouts/base.html' %}
{% block title %}Change password{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
{% include 'layouts/messaging.html' %}
<main class="password-change">
    <section class="section-1-password-change">
        <form action="{% url 'password_change' %}" method="POST">
            <h2>Password Change Confirm</h2>
            <p>Please enter your new password</p>
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-outline-info mt-4">Change password</button>
        </form>
    </section>
</main>
{% endblock %}