.main-password-reset {
    padding: 20px;
    min-height: 70vh;
}

.main-password-reset>section {
    max-width: 500px;
    padding: 20px 30px;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
}

.content-button-reset {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
}

.content-button-reset>button {
    width: 100%;
    border-radius: 5px;
}